body {
  font-family: arial, sans-serif;
  font-size: 13px;
}

#logo {
  display: inline;
  height: 100px;
  padding-bottom: 20px;
}

#logo-cont {
  display: inline-block;
  margin-left: 10px;

}

#search-bar {
  display: inline;
  width: 600px;
  height: 45px;
  border: grey;
  padding: 0 15px 0 15px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.2) ;
  border-radius: 2px;
  font-size: 16px;
}

#search-bar:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0px 6px 6px 0px rgba(0, 0, 0, 0.2) ;
}

#header {
  height: 120px;
  padding: 20px 15px 0px 15px;
  background-color: #FAFAFA;
  border-bottom: black;
  border: 1px;
}

#header-top {
  margin-left: 15px;
  padding-top: -20px;
  display: inline-block;
}

#header-bottom {
  margin-left: 135px;
  margin-top: 30px;
}

#header-bottom a {
  margin: 0 15px 0 15px;
  font-size: 16px;
}

#content {
  padding: 15px 0 0 150px;
}

#search-result {
  width: 600px;
}

h3 {
  color: rgb(26, 13, 171);
  font-size: 18px;
}

h4 {
  color: rgb(0, 102, 33);
  font-size: 14px;
}
